
# coding: utf-8

# <hr>
#     File Name: WikimediaData.py <br>
#     Author: Jonathan Gabriel Moreno Arce <br>
#     Date Created: 20190127 <br>
#     Python Version: 3.6 <br>
# <hr>
# <h1> Summary </h1>
# This script is in charge downloading data from the Recent Change stream and inserting into the database. <br>
# This script contains the following functions & the main:
# 
# <ul>
#     <li>configLog()</li>
#     <li>getLogger()</li>
#     <li>getConn() return Connection</li>
#     <li>insert(JSON) </li>
#     <li>setUpDB() </li>
#     <li>truncateTable() </li>
#     <li>startProcessing() </li>
#     <li>main() </li>
# </ul>
# <hr>

# ### Import libraries

# In[ ]:


# Imports 
import logging  # To manage logging
import logging.config # To setup the log
import json  # To read and to process JSON Documents
from sseclient import SSEClient as EventSource # To manage connection and data from the Recent Change stream
from pprint import pprint, pformat # To format the json output
from datetime import datetime # To get datetime 

import pymysql # To manage MySQL connections and dabase processes.

# Run this on virtual machine SuSE42 Clone
# /usr/sbin/rcmysql start


# ### Global variables

# In[ ]:


# Global Variables
global logger 
global conn 


# <hr>

# ## Functions

# In[ ]:


## Create and Config logger
#
#    Read JSON Config File from path and load it into config log.
#
#    Inputs: None
#    Output: None

def configLog():
    pathLogFile = "./config/configLog.json" # Json Config File
    with open(pathLogFile, 'rt') as f:
        config = json.load(f)
    logging.config.dictConfig(config)


# In[ ]:


# Starting the logger
#
#    Initialize the global logger variable.
#
#    Inputs: None
#    Output: None

def getLogger():
    global logger
    logger = logging.getLogger("loggers")


# In[ ]:


# Database connection
#
#    Connect to database based on statit parameters.
#
#    Inputs: None
#    Output: Connection

def getConn():
    global conn
    conn = pymysql.connect(host = '192.168.1.90', user = 'jonathan', password = 'dev123', port = 3306, 
                       cursorclass=pymysql.cursors.DictCursor,
                      charset="utf8")
    logger.info("Connected to DB!")
    return conn


# In[ ]:


# Function in charge of inserting into the database
#
#    Insert statement to the database. Exception is caught whenever an error is raised and error is logged 
#    into the error log
#
#    Inputs: json document
#    Output: None

def insert(change):
    
    # In case of required to process each value in JSON
    #for label in change:
        #print("{} : {} ".format(label, change[label]))
        
    timestamp = change['timestamp']
    dt_object = datetime.fromtimestamp(timestamp)
    
    # INSERT statement
    # Two values are inserted into the database:
    #    json doc
    #    timestamp
    sql = 'insert into `data` (d, `jdoc`) values (%s, %s)'
    s = str(change)

    try:
        with conn.cursor() as cursor:
            cursor.execute(sql, (dt_object, s))
            logger.info("Change ID: {}".format(change['timestamp'])) # Change ID is logged in info log
        conn.commit()
             
    except Exception as e:
        logger.error(e)


# In[ ]:


# TRUNCATE Statement
#
#    Truncate statement funtcion 
#
#    Inputs: None
#    Output: None

def truncateTable():
    try:
        with conn.cursor() as cursor:
            sql = 'truncate table data'
            cursor.execute(sql)
            logger.info("Table truncated: {}".format(sql)) # Operation logged
        conn.commit()
    except Exception as e:
        logger.error(e)


# In[ ]:


# Create the database and table 
#
#    Database is created if not exists.
#    Send USE DATABASE to the connection to avoid executing operation in different database.
#    Create table statement.
#    All operation are logged into the INFO log.
#
#    Inputs: None
#    Output: None

def setUpDB():
    
    try:
        with conn.cursor() as cursor:
            # Create database
            sql = "create database if not exists wikimedia"
            cursor.execute(sql)
            logger.info("SQL: {}".format(sql))
        
            # Change to database created
            sql = 'use wikimedia'
            cursor.execute(sql)
            logger.info("SQL: {}".format(sql))
        
            # Create the table
            sql = "create table if not exists data (id int(11) not null auto_increment, jdoc varchar(2048) not null, d datetime not null, check(json_valid(jdoc)), primary key (id))"
            cursor.execute(sql)
            logger.info("SQL: {}".format(sql))
        

        # Connection is not autocommit by default. So a commit must be executed to save the changes
        conn.commit()
    except Exception as e:
        logger.error(e)


# In[ ]:


# In this section the data is read and processed. 
#
#    Based on the url event is read with the sseclient library. 
#    The process is executed inside a for loop reading events in the EventSource connection. If there is an event
#    the process will continue processing - no end loop. The script will process data until terminated by user in 
#    command line. 
#    If the Event is a message the change will be read, an error message is logged otherwise. 
#    When 1000 inserts are reach, truncate function is called to keep size down.
#    JSON Doc is logged with format with pformat library
#
#    Inputs: None
#    Output: None

def startProcessing():
    url = 'https://stream.wikimedia.org/v2/stream/recentchange'
    i = 0 # Inserts counter. 
    try:
        for event in EventSource(url):
            if event.event == 'message':
                try:
                    change = json.loads(event.data)
            
                    # Stream does not allow to filter on server side. Client side must filter
                    if(change['bot'] == False):
                        insert(change)
                        i += 1
                        logger.info("Inserts: {}".format(i)) # Inserts logged into the INFO log
                        logger.info("JSON Document Change\n" + pformat(change)) # JSON Change is logged into the INFO log with format
            
                    # If 1000 inserts have been done, table is truncated and counter initialized
                    if(i >= 1000):
                        truncateTable()
                        i = 0
                except ValueError as e:
                    logger.error(e)
                    pass
            else:
                logger.error("Event message is not a message object.")
    except:
        logger.error("Error processing message.")


# In[ ]:


# JSON Labels
#for label in change:
    #print("{} : {} ".format(label, change[label]))


# <hr>

# ## Main

# In[ ]:


# main function executes the functions in the correct order.
#
#    Main fuction is called from the main from outside of the script. 
#    The function are called in order to start the processing. 
#
#    Inputs: None
#    Output: None

def main():
    configLog()
    getLogger()
    conn = getConn()
    setUpDB()
    startProcessing()
    


# In[ ]:


# main is called from the outside of the script
#
#    Executing main funcion in a try-finally block in order to close connection to database and logging termination.
#    Whenever an exception is not caught in the main the finally block is invoked to close database connection. 
#
#    Inputs: None
#    Output: None

if __name__ == "__main__":
    try:
        main()
    finally:
        conn.close()
        logger.info("Process terminated.")
        logger.info("Connection Closed.")

