<!-- prediktive/templates/index.html -->
<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Wikimedia - Edits per second</title>
        <script language="javascript">
			setTimeout(function(){
   				window.location.reload(1);
			}, 5000);
		</script>
		
    </head>
    <style type="text/css">
    body {background-color: white}
    </style>
    <body>
        <center>
        	<font color="#44A1C4"><h1>Wikimedia -- Edits per second</h1></font>
        	<hr>
        	<font color="black"><h3>Date/Time: <span id="date"></span></h3></font>
			<img src="{% static "plot.png"%}" alt="Changes per minute">
		</center>

		<hr>
		<label for="query">Query: (up to 200 characters):</label><br>
		<textarea name="query" id="query" rows="15" cols="80">Type query.</textarea>
		<br><input type="submit" value="Submit">

    </body>
</html>

<script>
	var dt = new Date();
	document.getElementById("date").innerHTML = dt.toLocaleString();
</script>

